<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nuevo Mensaje</title>
</head>
<body>
  <h1>Enviar un Nuevo Mensaje</h1>
  <form style="display: flex; flex-direction: column; align-items: flex-start;" action="/new" method="POST">
    <label for="message">Mensaje:</label>
    <input type="text" id="username" name="username" placeholder="Username" required>
    <textarea name="message" id="message" placeholder="Message" style="resize: none;" required></textarea>
    <button type="submit">Enviar</button>
  </form>
</body>
</html>